/*
 * Copyright (C) 2026 TOKITA Hiroshi
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	gpio2: gpio@e6058180 {
		compatible = "renesas,rcar-gpio";
		reg = <0x0 0xe6058180 0x0 0x54>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupts = <GIC_SPI 627 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
		clocks = <&cpg CPG_MOD 916>;
		status = "okay";
	};

	connector: gpio-leds {
		compatible = "gpio-leds";

		pin_0: pin-0 {
			gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
		};

		pin_1: pin-1 {
			gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
		};

		pin_2: pin-2 {
			gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
		};

		pin_3: pin-3 {
			gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		};

		pin_4: pin-4 {
			gpios = <&gpio2 13 GPIO_ACTIVE_HIGH>;
		};
	};
};

&canfd {
	status = "okay";
};
